[push]
    default = simple

[user]
    email = dylan@hardison.net
    name  = Dylan William Hardison

[alias]
    co = checkout
    ci = commit
    br = branch
    st = status --short --branch
    up = !git fetch --all --tags --prune && git pull --rebase
    reword = commit --amend
    top = !pwd
	remaster = checkout -B master origin/master
	redevelopment = checkout -B development origin/development

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = green bold
  frag = green bold
  old = red bold
  new = green

[color "status"]
  added = blue
  changed = magenta bold
  untracked = green bold

[core]
    excludesfile = ~/.cvsignore
