.ICEauthority
.Xauthority
.Xdefaults
.aptitude
.bash_history
.config
.cpan
.csi_history
.dbus
.dia
.fehbg
.fehrc
.fontconfig
.gconf
.gconfd
.ghci
.gimp-2.4
.gnome2
.gnupg
.gstreamer-0.10
.gtkrc
.gtkrc-2.0
.gtkrc.bak
.guile_history
.imapfilter/certificates
.ispell_default
.java
.journalrc
.kde
.macromedia
.mcop
.mcoprc
.mdwn
.mozilla
.mplayer
.msmtp.log
.mutt/certificates
.mutt/profile.active
.netrc
.newsbeuter/cache.db
.offlineimap.pyc
.offlineimap
.openoffice.org2
.perlreplhist
.psql_history
.pulse-cookie
.purple
.pwsafe.dat
.pwsafe.dat~
.qemu_history
.qt
.realplayerrc
.recently-used
.recently-used.xbel
.rnd
.sc_history
.serverauth.*
.smb
.sqlite_history
.ssh/agent
.ssh/authorized_keys
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.subversion
.themes
.w3m/cookie
.w3m/history
.xmonad/history
.xmonad/xmonad-i386-linux
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad_history
.yacas_history
.zcompdump
.zhistory
.viminfo
_darcs
docs
logs
mail
pim
src
tmp
var
