[push]
	default = matching

[user]
	email = dylan@hardison.net
	name  = Dylan William Hardison

[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	up = !git fetch --all --tags --prune && git pull --rebase
    reword = commit --amend
    top = !pwd

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = green bold
  frag = green bold
  old = red bold 
  new = green 

[color "status"]
  added = blue
  changed = magenta bold
  untracked = green bold

[github]
	user = dylanwh

[core]
	excludesfile = ~/.cvsignore



