/annex
/app
/logs
/mail
/mnt
/pub
/src
/tmp
/.*
!.bashrc
!.config
!.data
!.ctags
!.cvsignore
!.dmrc
!.emacs.d
!.fasdrc
!.git
!.gitconfig
!.gitignore
!.gitmodules
!.gnupg
!.guile
!.gvimrc
!.i3status.conf@*
!.imapfilter
!.inputrc
!.mailcap
!.menu
!.minicpanrc
!.mutt
!.mzschemerc
!.newsbeuter
!.offlineimap.py
!.offlineimaprc
!.pentadactyl
!.pentadactylrc
!.profile
!.quotes
!.remind
!.reminders
!.screenlayout/
!.screenrc
!.smartcd
!.ssh
!.surfraw.bookmarks
!.surfraw.conf
!.terminfo
!.tmux.conf
!.tmux/
!.todorc
!.udisks-glue.conf
!.urlview
!.urxvt
!.userContent.css
!.vim
!.vimoutlinerrc
!.vimrc
!.w3m
!.wyrdrc
!.xbindkeysrc.scm
!.xinitrc
!.xplanet
!.xsession
!.zlogin
!.zlogout
!.zprofile
!.zsh
!.zshenv
!.zshrc
.cpanm/build.log
.cpanm/latest-build
.cpanm/work/
.imapfilter/certificates
.imapfilter/status
.newsbeuter/cache.db
.newsbeuter/queue
.pentadactyl/info/default/cache
.pentadactyl/info/default/command-history
.pentadactyl/info/default/local-marks
.pentadactyl/info/default/register-ring
.pentadactyl/info/default/registers
.pentadactyl/info/default/url-marks
