/docs
/logs
/code
/work
/var
/pub
/mnt
.*
!.config/
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.Xdefaults.tt
!.bip
!.boring
!.contacts
!.cpanm
!.dir_colors
!.dmrc
!.emacs
!.git
!.gitconfig
!.gitignore
!.gitignore.swp
!.guile
!.gvimrc
!.imapfilter
!.inputrc
!.irssi
!.mailcap
!.menu
!.minicpanrc
!.mknew
!.mrconfig
!.mutt
!.mzschemerc
!.newsbeuter
!.offlineimap.py
!.offlineimaprc
!.quotes
!.remind
!.reminders
!.screenrc
!.ssh
!.surfraw.bookmarks
!.surfraw.conf
!.terminfo
!.tmux.conf
!.todorc
!.urlview
!.urxvt
!.userContent.css
!.vim
!.vimoutlinerrc
!.vimperatorrc
!.vimrc
!.w3m
!.wyrdrc
!.xbindkeysrc.scm
!.xinitrc
!.xmobarrc
!.xmobarrc@jord
!.xmobarrc@njord
!.xmobarrc@nott
!.xmonad
!.xplanet
!.xsession
!.zlogin
!.zlogout
!.zprofile
!.zsh
!.zshenv
!.zshrc
.mutt/profile.active
.mutt/history
.mutt/cache
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.ssh/tmux.env
.cpanm/build.log
.cpanm/latest-build
.cpanm/work/
.mutt/profile.foo
.w3m/cookie
.w3m/history
.xmonad/history
.xmonad/xmonad-i386-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.zsh/alias-ls
.zsh/cache
.bip/bip.pid
.imapfilter/certificates
.imapfilter/status
.mutt/passwd.home
.mutt/passwd.work
.newsbeuter/cache.db
.newsbeuter/queue
.config/Empathy/
.config/autostart/
.config/desktop-couch/
.config/enchant/
.config/google-chrome/
.config/gtk-2.0/
.config/indicators/
.config/monitors.xml
.config/totem/
