[push]
    default = simple

[user]
    email = dylan@hardison.net
    name = Dylan Hardison

[alias]
    co = checkout
    ci = commit
    br = branch
    st = status --short --branch
    up = !git fetch --all --tags --prune && git pull --rebase
    reword = commit --amend
    top = !pwd

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[core]
    excludesfile = ~/.cvsignore
