*/
hub
!autostart
!dircolors-solarized
!dircolors/*
!feh
!fontconfig
!htop
!i3
!i3status
!iterm
!parcellite
!profile-cleaner.conf
!solarized
!urxvt
!user-dirs.dirs
!user-dirs.locale
!xcalib
!xmms2
!xrdb-tt
