Empathy/
Eric5/
Google/
MonoDevelop-4.0/
MonoDevelop/
Mumble/
QtProject/
Rygel
Skype/
Thunar/
Trolltech.conf
Trolltech/
akonadi
alien-arena/
bashrun
bless/
calibre/
compiz/
cow-notify
csharp.history
dconf/
desktop-couch/
dunst/
enchant/
evince
f-spot/
geeqie/
gitg/
glade-3.conf
gmpc/
google-chrome*
google-googletalkplugin/
google-musicmanager/
googlecl/
gtk-2.0/
gtk-3.0/
gxine/
hub
i3/config
i3status/config
indicators/
inkscape/
ipython/
libreoffice/
menus/
midori/
monitors.xml
mupen64plus/
openbox/
pavucontrol.ini
pcmanfm/
pnmixer
pulse/
rygel.conf
stetic/
tint2/
totem/
transmission/
twmn
ubuntuone/
uevt
user-share/
uzbl/
viewnior/
vlc/
xbuild/
xfce4/
xmms2/bindata/
xmms2/clients/
xmms2/medialib.db
xmms2/startup.d/
youtube-viewer/
