Code/
Thunar/
alfred/
base16-shell
configstore
dconf/
evolution/
gcloud
git
gjallarhorn/
gnome-initial-setup-done
gtk-2.0
hub
ibus/
libaccounts-glib/
libreoffice/
monitors.xml
pulse/
rclone
syncthing/
wireshark
xfce4/
xubuntu/
