<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>command</string>
          <string>sh</string>
          <string>zsh</string>
          <string>bash</string>
          <string>fish</string>
          <string>tool</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>Emacs</string>
        <key>CFBundleTypeName</key>
        <string>Terminal scripts</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Folders</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.directory</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Shell</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.unix-executable</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Text files</string>
        <key>CFBundleTypeIconFile</key>
        <string>Emacs</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Default</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.source-code</string>
          <string>public.shell-script</string>
          <string>public.script</string>
          <string>public.xml</string>
          <string>public.json</string>
          <string>public.yaml</string>
          <string>public.html</string>
          <string>public.css</string>
          <string>public.comma-separated-values-text</string>
          <string>public.tab-separated-values-text</string>
          <string>com.apple.property-list</string>
          <string>com.netscape.javascript-source</string>
          <string>public.python-script</string>
          <string>public.ruby-script</string>
          <string>public.perl-script</string>
          <string>public.php-script</string>
          <string>public.c-source</string>
          <string>public.c-header</string>
          <string>public.c-plus-plus-source</string>
          <string>public.c-plus-plus-header</string>
          <string>public.objective-c-source</string>
          <string>public.swift-source</string>
          <string>com.sun.java-source</string>
          <string>public.assembly-source</string>
          <string>org.rust-lang.rust-source</string>
          <string>public.toml</string>
          <string>org.gnu.emacs-lisp</string>
          <string>public.lua-script</string> 
          <string>org.khronos.glsl.shader-source</string>
          <string>com.apple.dt.document.script-suite-property-list</string>
          <string>public.ndjson</string>
          <string>net.daringfireball.markdown</string>
          <string>org.vim.vim-script</string>
          <string>public.lex-source</string>
          <string>public.yacc-source</string>
          <string>com.apple.xcode.configsettings</string>
          <string>public.text</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Image files</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.image</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>All files</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.archive</string>
          <string>public.content</string>
          <string>public.data</string>
        </array>
      </dict>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>Org Protocol</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>org-protocol</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
    </array>
    <key>UTImportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>org.rust-lang.rust-source</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.source-code</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>rs</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>org.gnu.emacs-lisp</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.source-code</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>el</string>
            <string>elc</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>public.toml</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.text</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
         <array>
           <string>toml</string>
         </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>org.khronos.glsl.shader-source</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.source-code</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
         <array>
           <string>glsl</string>
         <string>vert</string>
         <string>frag</string>
         </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>org.vim.vim-script</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.source-code</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>vim</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>public.lua-script</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.source-code</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>lua</string>
          </array>
        </dict>
      </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>droplet</string>
    <key>CFBundleIconFile</key>
    <string>Emacs</string>
    <key>CFBundleIconName</key>
    <string>Emacs</string>
    <key>CFBundleIdentifier</key>
    <string>com.apple.ScriptEditor.id.EmacsEdit</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>EmacsEdit</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSignature</key>
    <string>dplt</string>
    <key>LSMinimumSystemVersionByArchitecture</key>
    <dict>
      <key>x86_64</key>
      <string>10.6</string>
    </dict>
    <key>LSRequiresCarbon</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>This script needs to control other applications to run.</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>This script needs access to your music to run.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>This script needs access to your calendars to run.</string>
    <key>NSCameraUsageDescription</key>
    <string>This script needs access to your camera to run.</string>
    <key>NSContactsUsageDescription</key>
    <string>This script needs access to your contacts to run.</string>
    <key>NSHomeKitUsageDescription</key>
    <string>This script needs access to your HomeKit Home to run.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This script needs access to your microphone to run.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This script needs access to your photos to run.</string>
    <key>NSRemindersUsageDescription</key>
    <string>This script needs access to your reminders to run.</string>
    <key>NSSiriUsageDescription</key>
    <string>This script needs access to Siri to run.</string>
    <key>NSSystemAdministrationUsageDescription</key>
    <string>This script needs access to administer this system to run.</string>
    <key>OSAAppletShowStartupScreen</key>
    <false/>
    <key>WindowState</key>
    <dict>
      <key>bundleDividerCollapsed</key>
      <true/>
      <key>bundlePositionOfDivider</key>
      <real>0.0</real>
      <key>dividerCollapsed</key>
      <false/>
      <key>eventLogLevel</key>
      <integer>2</integer>
      <key>name</key>
      <string>ScriptWindowState</string>
      <key>positionOfDivider</key>
      <real>434</real>
      <key>savedFrame</key>
      <string>291 47 700 678 0 0 1440 870 </string>
      <key>selectedTab</key>
      <string>description</string>
    </dict>
  </dict>
</plist>
